<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue e-mail list</title>
  </head>
  <body>
    <div id="root">
      <ol id="listaEmail">
        <li v-if="emails.length == 10" v-for="email in emails">{{ email }}</li>
      </ol>


    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
